$bgColor: #fff;
$blackText: #000;
$orangeColor: #F06C25;
$greenColor: #00B14F;
$whiteText: #fff;
$blueColor: #187CAA;
$yellowColor: #FFC107;
$yellowColorLight: #ffc222;
$lightYellow: #FBF9D8;
$lightGray: #C5C5C5;
$greenCokor: #00a149;
$color1e1d23: #1e1d23;
$color808080: #808080;
$color: #f7f2e2;
$colorE5E5E5: #e5e5e5;
$colorf7f2e2: #f7f2e2;
$robotoFont: 'Roboto', sans-serif;
$gilroyFont: gilroy, helveticaneue-light, helvetica neue light, helvetica neue, Helvetica, Arial, lucida grande, sans-serif;
$appleFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$text-16: 16px;
$text-13: 13px;
$text-18: 18px;
$text-24: 24px;
$text-21: 21px;
$text-36: 36px;
$pad12-16: 12px 16px;
$pad15-40: 15px 40px;
$pageSize: 1200px;
$widthLogo: 92px;
$heightLogo: 32px;
$fullWidth: 100%;
$fullHeight: 100%;
$boderRadius16: 16px;
$boderRadius8: 8px;
$pad24-36: 24px 36px;
$pad12: 12px;
$pad20-45: 20px 45px;
$pad20-0: 20px 0;
$pad0-24-24: 0 24px 24px;
$pad60-0: 40px 0 60px;
$mar40-0: 40px 0;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight800: 800;