.alert {
    padding: 20px;
    color: white !important;
    position: absolute !important;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    max-width: 600px;
    min-width: 40%;
    animation: topdown 0.75s ease 1;
    background-color: transparent !important;
    transition: all ease 1.25s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: all ease 1.25s;

}

.error {
    background-color: #f44336 !important;
}

.success {
    background-color: forestgreen !important;
}

@keyframes topdown {
    0% {
        top: -10%;

    }

    100% {

        top: 6px;

    }
}