@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login {
    background: linear-gradient(to bottom right, #FD8F52, #ffb056);
    width: 100vw;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__center {
    width: 52%;
    min-height: 64vh;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    box-shadow: 12px 12px 8px rgba(0 0 0 /40%);
    position: relative;
    >.login__img {
        width: 55%;

        >img {
            width: 100%;
            height: 100%;
            border-radius: 20px 0 0 20px;
        }
    }

    >.login__form {
        width: 45%;
        padding: 28px 0;
        position: relative;

        .login__form-group {
            margin-left: 28px;
            margin-top: 32px;
            position: relative;
        }

        img {
            position: absolute;
            top: 20px;
            left: 50%;
            width: 160px;
            transform: translateX(-50%);
        }

        .fa-regular {
            font-size: 32px;
            margin-right: 4px;
            padding-right: 2px;
        }

        .field {
            outline: none;
            border: none;
            margin-left: 8px;
            width: 80%;
        }

        label {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }

        .login-inp {
            border: 1px solid #ccc;
            padding: 12px 16px;
            margin: 10px 0;
            width: 80%;
            font-size: 16px;
            border-radius: 4px;
        }

        p {
            text-align: right;
            margin-right: 32px;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }

        .err-message {
            color: red;
            font-size: 15px;
            position: absolute;
            top:78px;
        }

        .login-btn {
            background: linear-gradient(to bottom right, #FD8F52, #ffb056);
            border: none;
            padding: 14px 16px;
            font-size: 16px;
            color: white;
            margin-left: 28px;
            border-radius: 8px;
            width: 83%;
            margin-top: 28px;
            cursor: pointer;
        }
    }

    h4 {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color:#a9a9a9;
    }
    span{
        color:#FD8F52;
    }
}

.login__center {
    button:hover {
        opacity: 0.8;
    }

    p:hover {
        color: #FD8F52;
        cursor: pointer;
    }
    span:hover{
        color:#04aa6d;
    }
}
.login-close{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#212121;
    color:#ffffff;
    text-align: center;
    line-height: 40px;
    right:-16px;
    top:-16px;
    font-size: 20px;
}
.login-close:hover, .login-close i:hover{
    background-color: red;
}