@import '../mixin';
@import '../vari';

body {
    background-color: $whiteText;
}

.order-container {
    @include flexbox-center-between;

    >div {
        width: $pageSize;
        padding: 10px 0;

        @include tablet() {
            width: 80%;
        }
    }
}

.order {
    font-family: $appleFont;
    margin-bottom: 40px;

    &-infor {
        margin-top: 40px;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        &-user,
        &-products {
            width: 48%;
            background-color: $whiteText;
            box-shadow: 0 0px 20px rgba(36, 39, 37, 0.1);
            border-radius: 0.625rem;
            position: relative;

            &-title {
                display: block;
                background-color: $orangeColor !important;
                height: 48px;

                h3 {
                    line-height: 48px !important;
                    margin-left: 16px;
                    color: $whiteText;
                    font-weight: 500;
                    font-size: 20px;
                }
            }

            &-form {
                background-color: $whiteText;
                padding: 0 0 40px;
                border-radius: 0.625rem;
            }

            .form-item {
                margin: 10px 20px 20px;

                span {
                    color: red;
                }

                label {
                    color: #808080;
                    font-size: 15.5px;
                }

                input {
                    width: 96%;
                    padding: 8px;
                    margin-top: 10px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 5px;

                    &::placeholder {
                        color: #0000007f;
                    }
                }

                &-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }


            }

            .attention {
                color: $greenCokor;
                font-weight: 700;
                text-transform: lowercase;
                font-size: 20px;
            }

            table {
                width: 100%;
                text-align: center;
            }

            td,
            th {
                width: 65%;
                padding: 16px 0;
                border-bottom: 1px solid #ccc;
            }



        }

        @include mobile() {
            flex-direction: column;

            &-user,
            &-products {
                width: 360px;
                margin: 0 auto;
            }

            &-products {
                margin-top: 30px;
            }
        }
    }

    &-pay {
        margin-top: 40px;
        background-color: $whiteText;
        box-shadow: 0 0px 20px rgba(36, 39, 37, 0.1);
        border-radius: 0.625rem;
        position: relative;

        &-title {
            display: block;
            background-color: $orangeColor !important;
            height: 48px;

            h3 {
                line-height: 48px !important;
                margin-left: 16px;
                color: $whiteText;
                font-weight: 500;
                font-size: 20px;
            }
        }

        &-infor {
            padding: 20px 40px 40px 10px;

            table {
                width: 100%;
                text-align: left;
            }

            th,
            td {
                padding: 12px 0;

            }

            td {
                text-align: right;
            }

            th {
                padding-left: 24px;
            }

            hr {
                margin-left: 20px;
            }

            div {
                margin-top: 24px;
                display: flex;
                justify-content: end;
            }

            button {
                transition: all ease 1.25s;

                &:hover {
                    background-color: $greenCokor;
                }
            }

            .pay-money {
                color: #00a149;
                text-align: right;
                font-size: 28px;
            }
        }


    }

    @include mobile() {
        &-pay {
            width: 360px;
            margin: 30px auto 0;

            th,
            td {
                font-size: 16px;
                // text-align: left;
            }

            &-title {
                width: 100%;
            }

            hr {
                width: 94%;
                margin-right: 24px;
            }

            th {
                white-space: nowrap;
            }

            .pay-money {
                font-size: 17px;
            }
        }
    }
}