@import '../vari';

.admin-navbar {
    
    font-family: $robotoFont;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    width: 100%;
    justify-content: right;
    padding: 10px 0;

    .admin-infor {

        img {
            margin-right: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}