@import '../mixin';
@import '../vari';

.header {
    @include flexbox-center-between;
    justify-content: space-between;
    padding: 0 120px 0 90px;
    @include mobile() {
        padding: 0 10px;
    }
    background-color: $whiteText;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.1) 0px 2px 5px;

    &-left {
        height: 70px;
        @include flexbox-center-between;

        img {
            width: 160px;
            height: 60px;
            object-fit: cover;

            @include mobile() {
                width: 150px;
                height: 60px;
            }
        }
    }

    &-right {
        @include flexbox-center-between;
        gap: 30px;

        @include mobile() {
            gap: 20px;
        }

        & button {
            background-color: $whiteText;
            color: $blackText;

            &:hover {
                color: $orangeColor;
                transition: all 0.3s;
            }
        }

        &-mode {
            @include flexbox-center-between;
            
            & img {
                width: 25px;
                height: 25px;
                object-fit: cover;
            }
        }
    }
}